In [ ]:
#conda install -c conda-forge scikit-learn

#Label encoding : 把每個類別 mapping 到某個整數，不會增加新欄位
#One hot encoding : 為每個類別新增一個欄位，用 0/1 表示是否

In [1]:
import numpy as np
import pandas as pd
country=['Taiwan','Australia','Ireland','Australia','Ireland','Taiwan']
age=[25,30,45,35,22,36]
salary=[20000,32000,59000,60000,43000,52000]
dic={'Country':country,'Age':age,'Salary':salary}
data=pd.DataFrame(dic)
data

     Country  Age  Salary
0     Taiwan   25   20000
1  Australia   30   32000
2    Ireland   45   59000
3  Australia   35   60000
4    Ireland   22   43000
5     Taiwan   36   52000

In [2]:
#sklearn library中導入 LabelEncoder class，對第一行資料進行 fit及 transform 。
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data_le=pd.DataFrame(dic)
data_le['Country'] = labelencoder.fit_transform(data_le['Country'])
data_le
#可以看到country中的三個國家都被數字0、1、2取代。
# 然而這會產生一個問題，由於這本質上是類別資料，並沒有順序大小之分，
# 當我們對其進行Label encoding後，模型會認為他們之間存在著0<1<2，
# 因此這種無序的離散值One hot encoding會更加的合適。

   Country  Age  Salary
0        2   25   20000
1        0   30   32000
2        1   45   59000
3        0   35   60000
4        1   22   43000
5        2   36   52000

In [3]:
np.shape(data_le)

(6, 3)

In [4]:
#指定column進行編碼的情形下，One hot encoding無法直接對字串進行編碼，
# 必須先透過Label encoding將字串以數字取代後再進行One hot encoding處理
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)
df_ohe= ct.fit_transform(data_le) 
pd.DataFrame(df_ohe)

     0    1    2     3        4
0  0.0  0.0  1.0  25.0  20000.0
1  1.0  0.0  0.0  30.0  32000.0
2  0.0  1.0  0.0  45.0  59000.0
3  1.0  0.0  0.0  35.0  60000.0
4  0.0  1.0  0.0  22.0  43000.0
5  0.0  0.0  1.0  36.0  52000.0

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
data_whole_ohe=onehotencoder.fit_transform(data).toarray()
pd.DataFrame(data_whole_ohe)

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
5  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

原始資料是有序離散值的話 => Label Encoding
原始資料是無序離散值的話 => One Hot Encoding (Dummies)